$primaryColor: #1caaa0;
$secondaryColor: #aaacae;
@import 'svg.scss';
@import 'header.scss';

.text-primary {
  color: $primaryColor !important;
}
.text-primary:hover {
  color: #fff !important;
}

/*Botones*/
.bg-primary-vh {
  --bg-opacity: 1;
    background-color: hsl(176, 72%, 39%);
    background-color: rgba(28, 170, 160, var(--bg-opacity));
}

.bg-primary-departamentos:hover {
  --bg-opacity: 1;
  background-color: hsl(176, 72%, 39%);
  background-color: rgba(28, 170, 160, var(--bg-opacity));
  color: #fff !important;
  cursor: pointer;
} 

.bg-primary-vh-darker {
  --bg-opacity: 1;
  background-color: hsl(176, 72%, 40%);
  background-color: rgba(29, 175, 166, var(--bg-opacity));
}

header {
  display: block;
}
footer {
  background-color: #000;
}

/*Home*/
.hero-main {
  background-color: #edf2f7
}

/*Partidos*/
#cta-partido {
  background-color: #edf2f7;
  color: #000;
}

/*Team*/
.team-item {
  margin: 0.75rem;
  text-align: center;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  transition-duration: 300ms;
}

.team-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  transition-duration: 300ms;
  opacity: 0;
}

.team-overlay:hover {
    opacity: 1;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  --bg-opacity: 1;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
  border-radius: 0.25rem;
  font-size: 1.125rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
}

/*Papeleta*/
.papeleta {
  background-image: url('../assets/images/hero_papeleta.jpg');
  position:relative;
}

#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:$secondaryColor;
  opacity: 0.6;
}

/* menu desplegable */
.navbar ul ul {
  display: inline-grid;
  position: absolute;
  top: 63%;
  left: 60%;
  background: #fff;
  padding: 0;
}
 
 /* items del menu desplegable */
 
 .navbar ul ul li {
  float:none;
  width:150px
 }
 
 /* enlaces de los items del menu desplegable */
 
 .navbar ul ul a {
  line-height: 120%;
  padding: 10px 15px;
  margin: 0 !important;
 }
 
.presidente ul {
  list-style: initial;
  margin-left: 24px;
  margin-bottom: 24px;
  margin-top: 13px;
}

.disclaimer {
  text-align: center;
  color: $primaryColor;
}