$primaryColor: #1caaa0;
$secondaryColor: #aaacae;
$primaryColorDarker: #199a91;
$partidoLiberal: #d81e05;
$partidoLiberalLight: #d81e05;

/*People voting*/
.cls-1{fill:transparent;}
.cls-2{fill:#ebf3fa;}
.cls-3{fill:$primaryColorDarker;}
.cls-4{fill:$primaryColor;}
.cls-5{fill:#e7edff;}
.cls-6{clip-path:url(#clip-path);}
.cls-7{fill:#88a0e2;}
.cls-8{fill:#ffb27d;}
.cls-9{fill:#e2915a;}
.cls-10{fill:#233862;}
.cls-11{fill:$partidoLiberal;}
.cls-12{fill:#9db0f4;}
.cls-13{clip-path:url(#clip-path-2);}
.cls-14{fill:#a9453d;}
.cls-15{fill: $partidoLiberal;}
.cls-16{fill:#c5d7ff;}
.cls-17{fill:$partidoLiberalLight;}
.cls-18{fill:#2e3552;}
.cls-19{fill:#2a4e96;}
.cls-20{fill:#5f9aa8;}
.cls-21{fill:#1e3d70;}
.cls-22{fill:$partidoLiberalLight;}
.cls-23{fill:#c3d2ff;}
.cls-24{fill:#b0c3f4;}
.cls-25{fill:#d7e1ff;}
.cls-26{fill:#e3ebff;}
.cls-27{fill:#e9efff;}
.cls-28{fill:#2b478b;}
.cls-29{fill:#2c3a64;}
.cls-30{fill:#ed985f;}


/*Home Vote*/
.st0{fill:$primaryColor;}
.st1{opacity:0.65;}
.st2{fill:#FFFFFF;}
.st3{opacity:0.3;}
.st4{fill:#F5F5F5;}
.st5{fill:#E0E0E0;}
.st6{fill:#455A64;}
.st7{fill:#263238;}
.st8{fill:#37474F;}
.st9{opacity:0.6;fill:#FFFFFF;}
.st10{opacity:0.7;fill:#FFFFFF;}
.st11{opacity:0.8;fill:#FFFFFF;}
.st12{opacity:0.3;fill:$secondaryColor;}
.st13{fill:#FAFAFA;}
.st14{opacity:0.15;fill:#FFFFFF;}
.st15{opacity:0.3;fill:#FFFFFF;}
.st16{opacity:0.1;}
.st17{opacity:0.2;}
.st18{fill:#FFBDA7;}
.st19{fill:#B16668;}
.st20{fill:#F0997A;}
.st21{fill:#FFA8A7;}
.st22{fill:#F28F8F;}
.st23{fill:#EBEBEB;}
.st24{fill:#9A4A4D;}
.st25{opacity:0.55;fill:#FFFFFF;}
.st26{opacity:0.35;fill:$secondaryColor;}


/*Partido Nacional SVG*/
#nacionalSVG .cls-19, #nacionalSVG .cls-21 {
    fill: #fff
}

#nacionalSVG .cls-15, #nacionalSVG .cls-22, #nacionalSVG .cls-11 {
    fill: #270de0;
}

/* Partido Liberarl SVG */
.liberalSVG  .cls-15, #liberalSVG .cls-22, #liberalSVG .cls-11  {
    fill: #d81e05
}

/*Partido Libre SVG*/
#libre .cls-15, #libre .cls-22 {
    fill: #000;
}

#libre .cls-19, #libre .cls-21, #libre .cls-10 {
    fill: #e42220
}
/*Atlantida y Francisco Morazán*/

.presidente svg {
    width: 20px;
    margin: 0px 13px;
    height: auto;
    display: inline;
}