$primaryColor: #1caaa0;
$secondaryColor: #aaacae;
$primaryColorDarker: #199a91;
$partidoLiberal: #d81e05;
$partidoLiberalLight: #d81e05;

/*People voting*/
.cls-1{fill:transparent;}
.cls-2{fill:#ebf3fa;}
.cls-3{fill:$primaryColorDarker;}
.cls-4{fill:$primaryColor;}
.cls-5{fill:#e7edff;}
.cls-6{clip-path:url(#clip-path);}
.cls-7{fill:#88a0e2;}
.cls-8{fill:#ffb27d;}
.cls-9{fill:#e2915a;}
.cls-10{fill:#233862;}
.cls-11{fill:$partidoLiberal;}
.cls-12{fill:#9db0f4;}
.cls-13{clip-path:url(#clip-path-2);}
.cls-14{fill:#a9453d;}
.cls-15{fill: $partidoLiberal;}
.cls-16{fill:#c5d7ff;}
.cls-17{fill:$partidoLiberalLight;}
.cls-18{fill:#2e3552;}
.cls-19{fill:#2a4e96;}
.cls-20{fill:#5f9aa8;}
.cls-21{fill:#1e3d70;}
.cls-22{fill:$partidoLiberalLight;}
.cls-23{fill:#c3d2ff;}
.cls-24{fill:#b0c3f4;}
.cls-25{fill:#d7e1ff;}
.cls-26{fill:#e3ebff;}
.cls-27{fill:#e9efff;}
.cls-28{fill:#2b478b;}
.cls-29{fill:#2c3a64;}
.cls-30{fill:#ed985f;}


/*Home Vote*/
.st0{fill:$primaryColor;}
.st1{opacity:0.65;}
.st2{fill:#FFFFFF;}
.st3{opacity:0.3;}
.st4{fill:#F5F5F5;}
.st5{fill:#E0E0E0;}
.st6{fill:#455A64;}
.st7{fill:#263238;}
.st8{fill:#37474F;}
.st9{opacity:0.6;fill:#FFFFFF;}
.st10{opacity:0.7;fill:#FFFFFF;}
.st11{opacity:0.8;fill:#FFFFFF;}
.st12{opacity:0.3;fill:$secondaryColor;}
.st13{fill:#FAFAFA;}
.st14{opacity:0.15;fill:#FFFFFF;}
.st15{opacity:0.3;fill:#FFFFFF;}
.st16{opacity:0.1;}
.st17{opacity:0.2;}
.st18{fill:#FFBDA7;}
.st19{fill:#B16668;}
.st20{fill:#F0997A;}
.st21{fill:#FFA8A7;}
.st22{fill:#F28F8F;}
.st23{fill:#EBEBEB;}
.st24{fill:#9A4A4D;}
.st25{opacity:0.55;fill:#FFFFFF;}
.st26{opacity:0.35;fill:$secondaryColor;}


/*Partido Nacional SVG*/
#nacionalSVG .cls-19, #nacionalSVG .cls-21 {
    fill: #fff
}

#nacionalSVG .cls-15, #nacionalSVG .cls-22, #nacionalSVG .cls-11 {
    fill: #270de0;
}

/* Partido Liberarl SVG */
.liberalSVG  .cls-15, #liberalSVG .cls-22, #liberalSVG .cls-11  {
    fill: #d81e05
}

/*Partido Libre SVG*/
#libre .cls-15, #libre .cls-22 {
    fill: #000;
}

#libre .cls-19, #libre .cls-21, #libre .cls-10 {
    fill: #e42220;
}

#psh .cls-15, #libre .cls-22 {
    fill: #4dc7ef
}

#psh .cls-19, #libre .cls-21, #libre .cls-10  {
    fill: #f58825;
}

/*Atlantida y Francisco Morazán*/

.presidente svg {
    width: 20px;
    margin: 0px 13px;
    height: auto;
    display: inline;
}

/*presidente svg*/
#presidenteSVG {
    span{ white-space:pre }
    .shp0 { fill: #ffffff } 
    .shp1 { fill: #fef9f3 } 
    .shp2 { fill: #f14052 } 
    .shp3 { fill: #105f9a } 
    .shp4 { fill: #83c1f7 } 
    .shp5 { fill: #ff8b6a } 
    .shp6 { fill: none;stroke: #08051a;stroke-linecap:round;stroke-linejoin:round;stroke-width: 4.454 } 
    .shp7 { fill: #323444 } 
    .shp8 { fill: none;stroke: #381905;stroke-linecap:round;stroke-linejoin:round;stroke-width: 4.681 } 
    .shp9 { fill: #454658 } 
    .shp10 { fill: #381905 } 
    .shp11 { fill: #cb374d } 
    .shp12 { fill: #8e373f } 
    .shp13 { fill: #6b222a } 
    .shp14 { fill: none;stroke: #381905;stroke-linecap:round;stroke-linejoin:round;stroke-width: 3.413 } 
    .shp15 { fill: #af4f5b } 
    .shp16 { fill: none;stroke: #381905;stroke-linecap:round;stroke-linejoin:round;stroke-width: 3.545 } 
    .shp17 { fill: #ff8c65 } 
    .shp18 { fill: none;stroke: #83c1f7;stroke-width: 3 } 
    .txt19 { font-size: 22px;fill: #323444;font-weight: 700;font-family: "Montserrat-Bold", "Montserrat" } 
} 

#alcaldeSVG {
    tspan { white-space:pre }
    .shp0 { fill: #202239 } 
    .shp1 { fill: #717e9a } 
    .shp2 { fill: #4a2224 } 
    .shp3 { fill: #fba386 } 
    .shp4 { fill: #e48c77 } 
    .shp5 { fill: #ffc7b1 } 
    .shp6 { fill: #652c2f } 
    .shp7 { opacity: 0.631;fill: #fba386 } 
    .shp8 { fill: none;stroke: #fba386;stroke-width: 8.767 } 
    .shp9 { fill: #ffffff } 
    .shp10 { fill: #da3437 } 
    .shp11 { fill: #0a2043 } 
    .shp12 { opacity: 0.631;fill: #ffffff } 
    .shp13 { fill: none;stroke: #163462;stroke-width: 10 } 
    .shp14 { fill: none;stroke: #0a2043;stroke-width: 8.553 } 
    .shp15 { opacity: 0.62;mix-blend-mode: multiply;fill: #828caf } 
    .shp16 { opacity: 0.161;mix-blend-mode: multiply;fill: #828caf } 
    .shp17 { fill: #31334e } 
    .shp18 { fill: #2a3262 } 
    .shp19 { fill: #9d2729 } 
    .shp20 { fill: #f1282a } 
    .shp21 { fill: #ebeaef } 
    .shp22 { fill: #3c52a5 } 
    .shp23 { opacity: 0.329;fill: #0a2043 } 
    .shp24 { fill: #511c3a } 
    .shp25 { fill: #63204b } 
    .shp26 { fill: #fcaa3c } 
    .shp27 { fill: #828eb4 } 
    .shp28 { fill: #c3c3ce } 
    .shp29 { fill: #9aa6b9 } 
    .shp30 { fill: #727f95 } 
    .shp31 { fill: #58586c } 
    .shp32 { fill: #37485d } 
    .shp33 { fill: #4d8835 } 
    .shp34 { opacity: 0.549;fill: #fff5c5 } 
    .shp35 { fill: #5aac59 } 
    .shp36 { opacity: 0.369;fill: #0a2043 } 
    .shp37 { opacity: 0.29;fill: #0a2043 } 
    .shp38 { opacity: 0.278;fill: #ffffff } 
    .shp39 { fill: #3573bd } 
    .shp40 { fill: #49a2f1 } 
    .shp41 { fill: #ffd056 } 
    .shp42 { fill: #fd7054 } 
}

#diputadoSVG {
    tspan { white-space:pre }
    .shp0 { fill: url(#grd1) } 
    .shp1 { fill: url(#grd2) } 
    .shp2 { fill: url(#grd3) } 
    .shp3 { fill: url(#grd4) } 
    .shp4 { fill: url(#grd5) } 
    .shp5 { fill: url(#grd6) } 
    .shp6 { fill: url(#grd7) } 
    .shp7 { fill: url(#grd8) } 
    .shp8 { fill: #e2784e } 
    .shp9 { opacity: 0.251;fill: #e2784e } 
    .shp10 { fill: #962c16 } 
    .shp11 { opacity: 0.749;fill: url(#grd9) } 
    .shp12 { fill: #221739 } 
    .shp13 { opacity: 0.502;fill: #f3f3f5 } 
    .shp14 { opacity: 0.749;fill: url(#grd10) } 
    .shp15 { fill: url(#grd11) } 
    .shp16 { fill: url(#grd12) } 
    .shp17 { fill: url(#grd13) } 
    .shp18 { fill: url(#grd14) } 
    .shp19 { fill: url(#grd15) } 
    .shp20 { fill: url(#grd16) } 
    .shp21 { fill: url(#grd17) } 
    .shp22 { fill: #370c03 } 
    .shp23 { fill: url(#grd18) } 
    .shp24 { fill: #c65e2b } 
    .shp25 { fill: #772106 } 
    .shp26 { fill: url(#grd19) } 
    .shp27 { opacity: 0.502;fill: url(#grd20) } 
    .shp28 { fill: #842308 } 
    .shp29 { fill: #eb903d } 
    .shp30 { fill: #591905 } 
    .shp31 { fill: url(#grd21) } 
    .shp32 { fill: #60a484 } 
    .shp33 { fill: #0c0c35 } 
    .shp34 { fill: #832c17 } 
    .shp35 { opacity: 0.502;fill: #681b09 } 
    .shp36 { fill: #d17e55 } 
    .shp37 { fill: #f3f3f5 } 
    .shp38 { fill: #848bd5 } 
    .shp39 { fill: url(#grd22) } 
}

.encuesta {
    cursor: pointer;
}

#ListadoSVG {
    tspan { white-space:pre }
    .shp0 { fill: #ebebeb } 
    .shp1 { fill: #e0e0e0 } 
    .shp2 { fill: #ffffff } 
    .shp3 { fill: #f5f5f5 } 
    .shp4 { fill: #fafafa } 
    .shp5 { fill: #455a64 } 
    .shp6 { fill: none;stroke: #ffffff;stroke-width: 3 } 
    .shp7 { fill: #263238 } 
    .shp8 { fill: #000000 } 
    .shp9 { fill: $primaryColor } 
    .shp10 { fill: #ffbe9d } 
    .shp11 { fill: #eb996e } 
}